version: 2.1

orbs:
  node: circleci/node@5.1.0
  secops: apollo/circleci-secops-orb@2.0.1

commands:
  install-volta:
    description: Install volta to manage Node/npm versions
    steps:
      - run:
          name: Install volta
          # Teach the volta installer to update Circle's special env
          # file instead of the default.
          command: |
            curl https://get.volta.sh | PROFILE="$BASH_ENV" bash

  setup-node:
    parameters:
      node-version:
        type: string
        default: ""
    steps:
      - install-volta
      - checkout
      - when:
          condition: << parameters.node-version >>
          steps:
            - run: volta pin node@<< parameters.node-version >>
      - run: node --version
      - run: npm --version
      - node/install-packages

jobs:
  NodeJS:
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node:
          node-version: <<parameters.node-version>>
      - run: npm run test:ci
      - store_test_results:
          path: junit.xml

  GraphQL v14 - backcompat:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run:
          command: npm i -D graphql@14

  GraphQL v15 - backcompat:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run:
          command: npm i -D graphql@15

  Prettier:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run: npm run prettier-check

  Lint:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run: npm run lint

workflows:
  Build:
    jobs:
      - NodeJS:
          name: NodeJS << matrix.node-version >>
          matrix:
            parameters:
              node-version:
                - "16"
                - "18"
                - "20"
      - GraphQL v14 - backcompat
      - GraphQL v15 - backcompat
      - Prettier
      - Lint
  security-scans:
    jobs:
      - secops/gitleaks:
          context:
            - platform-docker-ro
            - github-orb
            - secops-oidc
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
          git-revision: << pipeline.git.revision >>
