version: 2.1

orbs:
  node: circleci/node@5.1.0
  secops: apollo/circleci-secops-orb@2.0.7

parameters:
  mise_version:
    type: string
    default: "v2025.5.4"

commands:
  setup-node:
    parameters:
      node-version:
        type: string
        default: ""
    steps:
      - checkout
      # We can consider using the CircleCI cache to cache Mise and Node, but it tends
      # to be pretty fast to install.
      - run:
          name: Install Mise
          command: |
            curl https://mise.run | MISE_VERSION=<< pipeline.parameters.mise_version >> sh
      - when:
          condition: << parameters.node-version >>
          steps:
            - run: mise use node@<< parameters.node-version >>
      - run:
          name: Use Mise to configure the environment
          command: stty cols 80 && ~/.local/bin/mise install --verbose && mise ls && mise env --shell bash >> "$BASH_ENV" && cat "$BASH_ENV"
      - run: node --version
      - run: npm --version
      - node/install-packages:
          cache-version: node-v<< parameters.node-version >>

jobs:
  NodeJS:
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node:
          node-version: <<parameters.node-version>>
      - run: npm run test:ci
      - store_test_results:
          path: junit.xml

  GraphQL v14 - backcompat:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run:
          command: npm i -D graphql@14

  GraphQL v15 - backcompat:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run:
          command: npm i -D graphql@15

  Apollo Client 3 - backcompat:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run:
          command: npm i -D @apollo/client@3

  Prettier:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run: npm run prettier-check

  Lint:
    docker:
      - image: cimg/base:stable
    steps:
      - setup-node
      - run: npm run lint

workflows:
  Build:
    jobs:
      - NodeJS:
          name: NodeJS << matrix.node-version >>
          matrix:
            parameters:
              node-version:
                - "20"
                - "22"
                - "24"
      - GraphQL v14 - backcompat
      - GraphQL v15 - backcompat
      - Apollo Client 3 - backcompat
      - Prettier
      - Lint
  security-scans:
    jobs:
      - secops/gitleaks:
          context:
            - platform-docker-ro
            - github-orb
            - secops-oidc
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
          git-revision: << pipeline.git.revision >>
      - secops/semgrep:
          context:
            - secops-oidc
            - github-orb
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
